* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: rgb(0, 128, 0);
  height: 100%;
  width: 100%;
  border: 3px solid black;
}

/*Top Bar*/
.top-bar {
  width: 100%;
  height: 50px;
  background-color: rgb(128, 128, 0);
  border-bottom: 3px solid black;
}

/*Main panel responsible for holding everything in one place*/
.main-panel {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
}

/*Panel with red rotated squares*/
.square-panel {
  position: relative;
  width: 300px;
  height: 325px;
  display: flex;
  align-items: left;
}

.rotated-square {
  position: absolute;
  width: 125px;
  height: 125px;
  background-color: rgb(255, 0, 0);
  border: 2px solid black;
  transform: rotate(45deg);
}

/*Panel with equation sign and circle*/
.circle-panel {
  width: 300px;
  height: 115px;
  display: flex;
  gap: 10px;
}

.equal-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-left: 20px;
}

.line {
  width: 125px;
  height: 25px;
  background-color: blue;
  border: 2px solid black;
}

.circle {
  height: 115px;
  width: 115px;
  border-radius: 50%;
  background-color: rgb(0, 128, 128);
  border: 2px solid black;
}

/*Block element*/
.block {
  height: 350px;
  width: 175px;
  border: 2px solid black;
  text-align: center;
  padding-top: 10px;
  font-size: xx-large;
  margin-left: 75px;
}

/*Screen size settings*/
@media (max-width : 582px) {
  .main-panel {
    grid-template-columns: repeat(1, 1fr);
  }

  .block {
    background-color: rgb(0, 0, 255);
    margin-top: 20px;
  }
}

@media (min-width:583px) and (max-width:900px) {
  .main-panel {
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 325px auto;
  }

  .square-panel {
    grid-column: 1;
    grid-row: 1;
  }

  .circle-panel {
    grid-column: 1 / span 2;
    grid-row: 2;
  }

  .block {
    background-color: rgb(200, 55, 55);
    margin-top: 20px;
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
    margin-right: 20px;
  }
}


@media (min-width:901px) {
  .main-panel {
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: 300px 300px 1fr;
  }

  .circle-panel {
    margin-top: 100px;
    margin-left: 75px;
  }

  .block {
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    justify-self: end;
    margin-right: 30px;
  }
}